:root {
  --blue: #319b9e;
  --card: #d0f2fd;
  --back: #a4bdc5;
}

header {
  height: 120px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.25turn,#6756c9, #1ad3da);
  
}
 .searchBtn{
  background-color: rgb(96, 157, 236);
}
#Underline{
  border-top: black solid 1px;
}


.sun {
  font-size: 3rem;
}
.jumbotron-1 {
  height: 400px;
  width: 70%;
  margin-top: 10px;
  border: solid 1px black;
}


#city-input {
  padding: 10px;
  
}
.row {
  padding-left: 5px;

}

label{
    font-size: 2em;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif
}

@media only screen and (max-width: 600px) {
  .sun {
    font-size: 2rem;
  }
  .weather-submit {
    height: auto;
  }
  .jumbotron-1 {
    width: 100%;
    overflow: hidden;
  }
}
